In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/drive/MyDrive/VIN_NLP/merge_pair_sentence_dataset/merged_datasets.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6930 entries, 0 to 6929
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         6930 non-null   int64
 1   sentence1  6930 non-null   object
 2   sentence2  6930 non-null   object
 3   label      6930 non-null   int64
dtypes: int64(2), object(2)
memory usage: 216.7+ KB

In [20]:
split_index_train = int(data.shape[0]/100*70 + 1)
split_index_dev = int(split_index_train + (data.shape[0] - split_index)/2)
split_index_test = int(split_index_train + (data.shape[0] - split_index))

In [21]:
train_df = data.iloc[:split_index_train]
dev_df = data.iloc[split_index_train:split_index_dev]
test_df = data.iloc[split_index_dev:split_index_test]

In [22]:
print(train_df.shape)
print(dev_df.shape)
print(test_df.shape)

(4852, 4)
(1039, 4)
(1039, 4)

In [23]:
train_df.to_csv('/content/drive/MyDrive/VIN_NLP/merge_pair_sentence_dataset/train.csv', index = False)
dev_df.to_csv('/content/drive/MyDrive/VIN_NLP/merge_pair_sentence_dataset/dev.csv', index = False)
test_df.to_csv('/content/drive/MyDrive/VIN_NLP/merge_pair_sentence_dataset/test.csv', index = False)