# Install libs

In [ ]:
!pip install pyvi
!pip install https://gitlab.com/trungtv/vi_spacy/-/raw/master/vi_core_news_lg/dist/vi_core_news_lg-0.0.1.tar.gz

In [ ]:
from pyvi import ViTokenizer

'''
tokenization code
'''

import spacy
spacy_vi = spacy.load('vi_core_news_lg')
stopwords = spacy_vi.Defaults.stop_words

def tokenize_vi(text):
    """
    Tokenizes Vietnamese text from a string into a list of strings (tokens)
    """
    return [tok.text for tok in spacy_vi.tokenizer(text)]

#Xử lý các từ lặp
def remove(txt):
    txt = re.sub(r'([A-Z])\1+', lambda m: m.group(1).upper(), str(txt), flags=re.IGNORECASE)
    return txt

def A_cvt_a(txt):
    return txt.lower()

# def utils_data(txt):
#     pat = re.compile(r"\b(%s)\b" % "|".join(acronyms))
#     txt = pat.sub(lambda m: acronyms.get(m.group()), txt)
#     return txt

#Xử lý các từ dừng
def remove_stopwords1(txt):
    txt = ViTokenizer.tokenize(txt)
    split_words = []
    words = []
    try:
        split_words = [x.strip('0123456789%@$.,=+-!;/()*"&^:#|\n\t\'').lower() for x in txt.split()]
    except:
        pass
    for w in split_words:
        if w not in stopwords:
            words.append(w)
    return " ".join(words)

#Xử lý các từ dừng
def remove_stopwords(txt):
    split_words = txt.split()
    final_txt = []
    for ch in split_words:
        if ch not in stopwords:
            final_txt.append(ch)
    return " ".join(final_txt)

#Xử lý dấu câu
def remove_punctuations(txt):
    punctuations = '@#!?+&*[]-%:/();$=><|{}^_' + "'`"
    for p in punctuations:
        txt = txt.replace(p, f' {p} ')
    return txt

def preProcess(txt):
    txt = remove(txt)
    txt = A_cvt_a(txt)
    # txt = utils_data(txt)
    #Xóa các kí tự xuống dòng
    txt = " ".join(re.sub("\n", " ", txt).split())
    #Xử lý dấu câu
    txt = remove_punctuations(txt)
    # #Tách từ
    txt = " ".join(tokenize_vi(txt))
    # #Xóa từ dừng
    txt = remove_stopwords(txt)
    # txt = remove_stopwords1(txt)
    return txt

In [ ]:
# Merge all translated files data from PAWS dataset

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
os.chdir('/content/drive/MyDrive/VIN_NLP/ThanhQuang_NLP')

In [ ]:
data_0_25k = pd.read_csv('paws_trans_0_25000.csv')

In [ ]:
data_0_25k

         index  ...                                          sentence2
0          NaN  ...  Vào tháng 10 năm 1560, ông bí mật gặp đại sứ A...
1          3.0  ...  Ngoài ra còn có các cuộc thảo luận công khai, ...
2          7.0  ...  2011 - Khái niệm SAP Bullion Express được giới...
3          NaN  ...  Liên Xô duy trì một đại sứ quán ở Moskva và mộ...
4         10.0  ...  Vốn từ vựng thậm chí còn đến Brasil bằng cách ...
...        ...  ...                                                ...
12088  15102.0  ...  Một bảng quay được sử dụng để quay đầu máy hơi...
12089  15103.0  ...  Kế hoạch ban đầu là thúc đẩy Mark Butcher vào ...
12090  15104.0  ...  Đôi khi các mã đã được chỉ định được sử dụng l...
12091  15108.0  ...  Một bản nhạc khác được viết cho album không đư...
12092  15109.0  ...  Szabina Tápai ( sinh ngày 30 tháng 1 năm 1986 ...

[12093 rows x 3 columns]

In [ ]:
data_0_25k.isnull().sum()

index        12
sentence1     0
sentence2     0
dtype: int64

In [ ]:
data_0_25k = data_0_25k.dropna()

In [ ]:
data_0_25k.isnull().sum()

index        0
sentence1    0
sentence2    0
dtype: int64

In [ ]:
data_0_25k

         index  ...                                          sentence2
1          3.0  ...  Ngoài ra còn có các cuộc thảo luận công khai, ...
2          7.0  ...  2011 - Khái niệm SAP Bullion Express được giới...
4         10.0  ...  Vốn từ vựng thậm chí còn đến Brasil bằng cách ...
5         11.0  ...  Suman Chatterjee, thu âm một số album giữa năm...
6         14.0  ...  Ông đã được huấn luyện bởi ông của mình, Geoff...
...        ...  ...                                                ...
12088  15102.0  ...  Một bảng quay được sử dụng để quay đầu máy hơi...
12089  15103.0  ...  Kế hoạch ban đầu là thúc đẩy Mark Butcher vào ...
12090  15104.0  ...  Đôi khi các mã đã được chỉ định được sử dụng l...
12091  15108.0  ...  Một bản nhạc khác được viết cho album không đư...
12092  15109.0  ...  Szabina Tápai ( sinh ngày 30 tháng 1 năm 1986 ...

[12081 rows x 3 columns]

In [ ]:
ls

'[18-12] Pegasus_Fine_Tune_new_data.ipynb'
'[2] Nghiem_Le_Hoa_VBD.ipynb'
'Bản sao của Nghiem_Le_Hoa_VBD.ipynb'
'Bản sao của NLP-baigiang-total.pdf'
 BLEU_score_plagiarism.ipynb
 check_ckpt/
 checkpoint_index_1.txt
 checkpoint_index_2.txt
 checkpoint_index_42k_end.txt
 checkpoint_index_46_5k_end.txt
 checkpoint_index_old.txt
 checkpoint_index.txt
'Copy of translate_paws.ipynb'
 data/
 data_entailment/
 final_paws_translated_data/
 lightning_logs/
 merge_pair_sentence_dataset/
 NLP_Class/
 PAWS_Quang_branch/
 paws_trans_0_25000.csv
 paws_trans_0_25000.gsheet
 paws_trans_42000_46500.csv
 paws_trans_42000_50000.csv
 paws_trans_46500_50000.csv
 Pegasus_Fine_Tune_new_data.ipynb
 PhoBERT_base_transformers/
 Pre-processing.ipynb
 save_check_point/
'Sentence Entailment BERT.ipynb'
 T5_Fine_tuning_Phobert.ipynb
 t5_paraphrase/
 temp/
 translated_data/
 translate_paws_37_49.ipynb
 Untitled0.ipynb
'[v3]_Translation_En_Vi.ipynb'
'[v4]_Translation_En_Vi_42k_49k.ipynb'
'[v5]_Translation_En_Vi_46k_49k.ipynb'
 vncorenlp/

In [ ]:
data_25_30k5 = pd.read_csv('PAWS_Quang_branch/Translated_Data/paws_trans_25000_30500.csv')
data_30k5_34k5 = pd.read_csv('PAWS_Quang_branch/Translated_Data/paws_trans_30500_34500.csv')
data_34k5_37 = pd.read_csv('PAWS_Quang_branch/Translated_Data/paws_trans_34500_37000.csv')
data_37_42 = pd.read_csv('PAWS_Quang_branch/Translated_Data/paws_trans_37000_42000.csv')

In [ ]:
data_25_30k5 = data_25_30k5.dropna()
data_30k5_34k5 = data_30k5_34k5.dropna()
data_34k5_37 = data_34k5_37.dropna()
data_37_42 = data_37_42.dropna()

In [ ]:
data_42_46k5 = pd.read_csv('paws_trans_42000_50000.csv')
data_42_46k5_v2 = pd.read_csv('paws_trans_42000_46500.csv')
data_46k5_50 = pd.read_csv('paws_trans_46500_50000.csv')

In [ ]:
data_42_46k5 = data_42_46k5.dropna()
data_42_46k5_v2 = data_42_46k5_v2.dropna()
data_46k5_50 = data_46k5_50.dropna()

In [ ]:
train_df = pd.concat([data_0_25k, data_25_30k5,data_30k5_34k5,data_34k5_37,data_37_42,data_42_46k5,data_42_46k5_v2,data_46k5_50], axis=0)

In [ ]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25670 entries, 1 to 1622
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   index      25670 non-null  float64
 1   sentence1  25670 non-null  object
 2   sentence2  25670 non-null  object
dtypes: float64(1), object(2)
memory usage: 802.2+ KB

In [ ]:
boolean = not train_df["index"].is_unique      # True (credit to @Carsten)
boolean = train_df['index'].duplicated().any() # True

In [ ]:
boolean

True

In [ ]:
train_df = train_df.sort_values(by=['index'], ascending=True)

In [ ]:
train_df.to_csv('final_paws_translated_data/train.csv',index = False)

## Dev and Test set preprocess

In [ ]:
val_df = pd.read_csv('PAWS_Quang_branch/paws_trans_devset_0_25000.csv')
test_df = pd.read_csv('PAWS_Quang_branch/paws_trans_testset_0_25000.csv')

In [ ]:
val_df = val_df.dropna()
test_df = test_df.dropna()

In [ ]:
val_df.to_csv('final_paws_translated_data/val.csv',index = False)
test_df.to_csv('final_paws_translated_data/test.csv',index = False)